{% extends "AppBundle::layout.html.twig" %}
{% block head %}
	{{ parent() }}
	{% block stylesheets %}
		{% stylesheets filter='cssrewrite'

			'@AppBundle/Resources/public/css/buttons.dataTables.min.css' 
			'@AppBundle/Resources/public/css/table.css' 

			%}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
	{% endblock %}
{% endblock %}
{% block body %}
<div class="r_cnx_colonneG full">							
	<h2> VOS STATISTIQUES</h2>
	<h3 class="modif-h3">Tableau de suivi qualité/quantité</h3>
		<div class="content_stats id{{partenaire}}">


		</div>
</div>
{% endblock %}
 
{% block footer %}
	{{ parent() }}
	{% javascripts

		'@AppBundle/Resources/public/js/chart.js'
        '@AppBundle/Resources/public/js/Stats.js'
		'@AppBundle/Resources/public/js/chart.min.js'
		'@AppBundle/Resources/public/js/chart-plugin-labels.min.js'
    %}
    <script src="{{ asset_url }}" charset="UTF-8"></script>
    {% endjavascripts %}
{% endblock %}