<div class="tetiere">
   <div class="bandeau">
      <a class="titre" href="{{ path('index') }}">L'ASSURANCE MALADIE AU SERVICE DE SES PARTENAIRES</a>
      <ul class="bandeau-navigation">
         {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% image '@AppBundle/Resources/public/img/offBlanc.png' %}
               <li class="bandeau-menu">
                  <a href="{{ path('user_logout') }}">
                        <img src="{{ asset_url }}" alt="Deconnexion" class="bandeau-lienNiveau1 deconnexion"  />
                  </a>
               </li>
            {% endimage %}
         {% else %}
            <li class="bandeau-menu">
      <div class="dropdown"> 
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mon compte partenaire</a>
        <div class="dropdown-menu"> 
          <a class="dropdown-item" href="{{ path('connection') }}">Connexion</a> 
          <a class="dropdown-item" href="{{ path('inscription') }}">Créer un compte</a> 
        </div> 
      </div> 
    </li>
         {% endif %}
         {% if is_granted('ROLE_PARTENAIRE') %}
            <li class="bandeau-menu">
              <a class="bandeau-lienNiveau1 bottom" href="{{ path('espacePartenaire') }}">Espace Partenaire</a>
            </li>
         {% endif %}
         {% if is_granted('ROLE_GESTIONNAIRE') %}
         <li class="bandeau-menu">
            <a class="bandeau-lienNiveau1 bottom" href="{{ path('espaceGestionnaire') }}">Espace Gestionnaire</a>
         </li>
         {% endif %}
    </div>

	</ul>
   </div>   
   <a tabindex="-1" class="r_lien_image" href="{{ path('index') }}" title="Accéder à l'accueil" >

   {% image '@AppBundle/Resources/public/img/hand.png' %}
   <img src="{{ asset_url }}" alt="Example" class="hand" alt="Logo du régime d'assurance maladie" href="{{ path('inscription') }}" />

   {% endimage %}
   </a>
   
</div>

