{% extends "AppBundle::layout.html.twig" %}
{% block head %}
    {{ parent() }}
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
			'@AppBundle/Resources/public/css/datatableBoostrap.css' 
			'@AppBundle/Resources/public/css/buttons.dataTables.min.css' 
			'@AppBundle/Resources/public/css/table.css' 
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    {% endblock %}
{% endblock %}
{% block body %}
<div class="alert alert-success">
	Newsletter envoyé
</div>
    <div class="r_cnx_colonneG full">
        <h2>Envoyer la newsletter</h2>
		<a class="btn btn-success envoiNewsletter" role="">Envoyer la newsletter</a>
        <div id="reloadNews">
        <table id="listeAbonne" class='table table-striped table-bordered table-hover'>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
					<th>Email</th>
                </tr>
            </thead>
            <tbody>
			{% for liste in listes %}
                <tr>
                    <td>{{liste.nom}}</td>
                    <td>{{liste.prenom}}</td>
					<td>{{liste.email}}</td>
                </tr>
			{% endfor %}
			</tbody>
		</table>
            </div>
        </div><div class="ad" style="margin-left: 40px"></div>
        <div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"></button>
						<h4 class="modal-title">Confirmation d'envoi</h4>
					</div>
					<div class="modal-body">
							<p>Voulez-vous envoyer la newsletter aux abonnés ?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary envoieEmail" data-dismiss="modal">Oui</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
					</div>
				</div>
			</div>
		</div>
		<div id="ModalLoader" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<div class="loaderContainer">
							<div class="ring">
								Chargement				
							</div>
							<p class='text-center'>Envoi des emails en cours</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
        {% endblock %}


{% block footer %}
    {{ parent() }}
    {% javascripts
       	'@AppBundle/Resources/public/js/datatable.min.js'
        '@AppBundle/Resources/public/js/newsletter.js'
    %}
    <script src="{{ asset_url }}" charset="UTF-8"></script>
    {% endjavascripts %}
{% endblock %}